:root{
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282326;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    height: 218x;
    align-self: center;
}

.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-title-container p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 24px;
    font-weight: 500;
    color: var(--soft-orange);
}

.header-title-container .header-button {
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    margin-top: 35px;
    background-color: var(--off-white);
    /*Shadow*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    color: var(--black);
}

.header-button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px; 
    background-image: url("./assets/icons/down-arrow.svg");   
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/images/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table {
    width: 70%;
    height: 360px;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table-container {
    width: 90%;
    height: 250px;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
}

.currency-table-container table {
    width: 100%;
    height: 100%;
}

.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table-container .table-top-left {
    border-radius: 15px 0 0 0;
}

.currency-table-container .table-top-right {
    border-radius: 0 15px 0 0;
}

.currency-table-container .table-bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table-container .table-bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table-container .table-right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("./assets/icons/down-trend.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    vertical-align: middle;
}

.currency-table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("./assets/icons/up-trend.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}

.currency-table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-product-detail {
    width: 100%;
    min-width: 320px;
    position: relative;
    height: auto;
    background-color: var(--warm-black);
    padding: 20px 10px;
}

.product-detail-batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url("./assets/icons/batata.svg");
    background-repeat: no-repeat;
    top: -13px;
    left: 50%;
    transform: translate(-50%, 0);
}

.product-detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail-title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    overflow-y: hidden;
} 

.product-detail-card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/clock.svg');
    background-size: cover;
}

.product-card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail-card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/eye.svg');
    background-size: cover;
}

.product-detail-card .dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/check.svg');
    background-size: cover;
}

.product-detail-card .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/dollar.svg');
    background-size: cover;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/images/bitcoin-girl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

.main-class-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans-title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    padding-top: 24px;
}

.plans-container-card {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
    display: inline-block;
    left: calc(50% - 60px);
    top: -15px;
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    padding: 6px;
    font-weight: 700;
}

.plan-card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card-price {
    padding: 5px 0;
    font-size: 5.3rem;
    font-weight: 700;
    font-family: 'Inter, sans';
    color: black;
}

.plan-card-price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 22px;
    margin-right: 3px;
}